@CHARSET "ISO-8859-1";


.bg{
	background-image: url("https://media.cntraveler.com/photos/588f93a5dec6b5bb4141d736/master/pass/best-restaurants-los-angeles-alimento-aerial-view-2017.jpg");
	background-size: cover;
}


.centerText{
	text-align:center;
	font-color:white;
}

.whitebg{
	/*
	background:white;
	*/
}

.whiteboldfont{
	color: white;
	font-weight:bold;
}

.buttonsred{
	color:red;
}