<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoggedInServlet</servlet-name>
    <servlet-class>LoggedInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncrementorServlet</servlet-name>
    <servlet-class>IncrementorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewAccountServlet</servlet-name>
    <servlet-class>NewAccountServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>NewEntreeServlet</servlet-name>
    <servlet-class>NewEntreeServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>EntreeListServlet</servlet-name>
    <servlet-class>EntreeListServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>PullSessionInfoServlet</servlet-name>
    <servlet-class>PullSessionInfoServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>DisplayEntreePageServlet</servlet-name>
    <servlet-class>DisplayEntreePageServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>NewReviewServlet</servlet-name>
    <servlet-class>NewReviewServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>LeaveReviewServlet</servlet-name>
    <servlet-class>LeaveReviewServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoggedInServlet</servlet-name>
    <url-pattern>/loggedin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncrementorServlet</servlet-name>
    <url-pattern>/incrementor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAccountServlet</servlet-name>
    <url-pattern>/newaccount</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>NewEntreeServlet</servlet-name>
    <url-pattern>/newentree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>EntreeListServlet</servlet-name>
    <url-pattern>/listentrees</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PullSessionInfoServlet</servlet-name>
    <url-pattern>/pullsession</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DisplayEntreePageServlet</servlet-name>
    <url-pattern>/entreepage</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>NewReviewServlet</servlet-name>
    <url-pattern>/newreview</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	     <servlet-name>LeaveReviewServlet</servlet-name>
   		 <url-pattern>/leavereview</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
</web-app>